[Desktop Entry]
Version=1.0
Type=Application
Name=Midori
Name[de]=Midori
GenericName=Web Browser
GenericName[de]=Web-Browser
X-GNOME-Fullname=Midori Web Browser
X-GNOME-Fullname[de]=Midori Web-Browser
Comment=Browse the Web
Comment[de]=Im Internet surfen
X-GNOME-Keywords=Internet;WWW;Explorer
X-GNOME-Keywords[de]=Internet;WWW;Explorer;Browser
X-AppInstall-Keywords=Internet;WWW;Explorer
X-AppInstall-Keywords[de]=Internet;WWW;Explorer;Browser
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;image/svg+xml;
Exec=midori %U
Icon=midori
Terminal=false
StartupNotify=true
X-GNOME-UsesNotifications=true
X-Osso-Type=application/x-executable
X-Osso-Service=midori
Actions=TabNew;WindowNew;Private;
X-XFCE-Source=file:///usr/share/applications/midori.desktop

[Desktop Action TabNew]
Name=New Tab
Name[de]=Einen neuen Tab öffnen
Exec=midori -e TabNew

[Desktop Action WindowNew]
Name=New Window
Name[de]=Ein neues Fenster öffnen
Exec=midori -e WindowNew

[Desktop Action Private]
Name=New Private Browsing Window
Name[de]=Neues privates Fenster
Exec=midori --private
