[Desktop Entry]
Categories=System;Printing;HardwareSettings;X-Red-Hat-Base;
Exec=/usr/bin/xdg-open http://localhost:631/
Icon=cups
StartupNotify=false
Terminal=false
Type=Application
Name=Manage Printing
Comment=CUPS Web Interface
Name[en_US]=Manage Printing
Comment[en_US]=CUPS Web Interface
X-XFCE-Source=file:///usr/share/applications/cups.desktop
