[Desktop Entry]
Name=Thunar File Manager
Name[de]=Thunar-Dateiverwaltung
Comment=Browse the filesystem with the file manager
Comment[de]=Das Dateisystem in der Dateiverwaltung anzeigen
GenericName=File Manager
GenericName[de]=Dateiverwaltung
Exec=thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
