[Desktop Entry]
Version=1.0
Type=Application
Name=Hardware Information
Comment=shows extended hardware information inside editor
Exec=/usr/bin/hardwareinfo.sh
Icon=hardinfo
Path=
Terminal=false
StartupNotify=true
