[Desktop Entry]
Terminal=false
Icon=/usr/share/icons/Numix-Circle/48/apps/hardinfo.svg
Type=Application
Exec=conky -c ~/.conky-inxi-rc &
Name=conky-inxi
GenericName=conky inxi viewer
Comment=shows inxi hardinfo at desktop
X-GNOME-Autostart-Delay=5
X-MATE-Autostart-Delay=5
X-DEEPIN-Autostart-Delay=5
