favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,midori.desktop,grsync.desktop,org.gnome.DejaDup.desktop,gparted.desktop
recent=xfce-session-settings.desktop,firefox.desktop,xfce-wm-settings.desktop,xfce-settings-manager.desktop,xfce-workspaces-settings.desktop,xfce-ui-settings.desktop,pamac-manager.desktop,menulibre.desktop
button-title=Anwendungen
button-icon=/usr/share/antergos-rescue/logo-rescue.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=true
category-show-name=true
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
menu-width=400
menu-height=500
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=false
command-switchuser=gdmflexiserver
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=false
search-actions=5

[action0]
name=Handbuchseiten
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Internetsuche
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action3]
name=Im Terminal ausführen
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action4]
name=Adresse öffnen
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

